{% load static %}
<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Университет{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'fefu_lab/css/style.css' %}">
</head>
<body>
    <nav class="navigation">
        <a href="/">Главная</a>
        <a href="/about/">О нас</a>
        <a href="/course/">Курсы</a>

        {% if user.is_authenticated %}
            {% if user.student_profile.role == 'TEACHER' or user.student_profile.role == 'ADMIN' %}
                <a href="{% url 'teacher_dashboard' %}">Дашборд</a>
            {% else %}
                <a href="{% url 'student_dashboard' %}">Дашборд</a>
            {% endif %}
            <a href="{% url 'profile' %}">Профиль ({{ user.first_name }})</a>
            {% if user.is_staff %}
                <a href="/admin/">Админка</a>
            {% endif %}
            <a href="{% url 'logout' %}">Выйти</a>
        {% else %}
            <a href="{% url 'login' %}">Вход</a>
            <a href="{% url 'register' %}">Регистрация</a>
        {% endif %}
    </nav>
    {% if messages %}
    <div class="page-wrapper">
        <ul class="messages">
            {% for message in messages %}
                <li class="message {{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

    <div class="page-wrapper">
        {% block heading %}{% endblock %}

        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
