{% extends "fefu_lab/base.html" %}

{% block title %}{{ course.title }}{% endblock %}
{% block heading %}<h1 style="display: flex;
    justify-content: center;">{{ course.title }}</h1>{% endblock %}

{% block content %}
<div class="card">
    <p>{{ course.description }}</p>
    <p>Длительность: {{ course.duration }} часов</p>
    <p>Преподаватель: {{ course.instructor.full_name }}</p>

    {% if user.is_authenticated and user.student_profile.role == 'STUDENT' %}
        <form method="post" action="{% url 'course_enroll' course.slug %}">
            {% csrf_token %}
            <button type="submit">Записаться на курс</button>
        </form>
    {% else %}
        <p>Только авторизованные студенты могут записываться на курс.</p>
    {% endif %}
</div>
{% endblock %}
